<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayburger.insanpeduli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mayburger.insanpeduli.mvp.logreg.LogRegActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mayburger.insanpeduli.mvp.main.MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".mvp.profile.ProfileActivity" android:screenOrientation="portrait" />
        <activity android:name=".mvp.donate.CampaignDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".mvp.user_donation.UserDonationActivity" android:screenOrientation="portrait" />
        <activity android:name=".mvp.create_campaign.CreateCampaignActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>